@{
    ViewData["Title"] = "Home Page";
}


<head>

</head>
<body style="background-color: rgb(30, 30, 30);">
    <link rel="stylesheet" type="text/css" href="~/css/buttons.css"/>
</body>
<header>
    <div class="header-center">
        <center>
            <img src="https://i.imgur.com/WFOw4VF.png" width="250" height="250" style="head-center" />
        </center>
    </div>
</header>
<div class="text-center">
    <div class="wrapper">
        <svg>
            <text x="50%" y="50%" dy=".20em" text-anchor="middle">
                SSG Task Manager
            </text>
        </svg>
    </div>
  <p style="color: white";>
        helping SSG taskings and manage its tasks efficiently.
        It allows users to create, assign, update and track tasks across different projects 
        and teams. SSGTaskManager also provides reports and analytics to monitor the progress and performance of tasks and teams.
        </a>.
      <div>
            <a asp-area="" asp-controller="ETC_Inventory" asp-action="">
                <button class="yellowbutton">ETC Inventory</button>
            </a>
      </div>
  </p>
</div>

