@model SSGTaskManager.Models.ETC_Inventory

@{
    ViewData["Title"] = "Create";
}

<h1>Create Booking</h1>

<p>Create listing for booked equipments from ETC</p>
<link rel="stylesheet" type="text/css" href="~/css/buttons.css" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <input asp-for="Item" class="form-control" />
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="space4">
            </div>
         
            <div class="form-group">

                <input type="submit" value="Create" class="yellowbutton" />

                <div>
                    
                </div>
            </div>
        </form>
    </div>
</div>
<div class="space1H">
    <a asp-action="Index"><button class="yellowbutton">Back to List</button></a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
